<% layout('layouts/boilerplate') %>

<h1><%= cozyhome.title %></h1>
<h2><%= cozyhome.location %></h2>
<img src="<%= cozyhome.image %>">
<h2><%= cozyhome.description %></h2>
<h2><%= cozyhome.price %></h2>

<p>
    <form action="/cozyhomes/<%= cozyhome._id %>?_method=DELETE" method="POST">
        <button>Delete</button>
    </form>
</p>
<footer>
    <a href="/cozyhomes/<%= cozyhome._id %>/edit">Edit</a>
    <a href="/cozyhomes">All Cozy Homes</a>
</footer>